{% extends "base.html" %}
<link href="/static/css/H-ui.css" rel="stylesheet" type="text/css" />

{% block body %}


{% for x in new %}
    <div class="container-fluid">        
      <div class="panel panel-primary">
   		<div class="panel-heading">
      			<h3 class="panel-title">机房</h3>
   		</div>
         <div class="panel panel-success">
<table class="table">
<div><tr><th><span class="label label-warning ">机房名称</span><th><td><strong> {{(x["name"]).encode("utf-8")}}</strong></td></tr></div>
<div><tr><th><span class="label label-primary">机房位置</span><th><td><strong>{{(x["weizhi"]).encode("utf-8")}}</strong></td></tr></div>
<div><tr><th><span class="label label-success">机房联系方式</span><th><td><strong>{{(x["tel"]).encode("utf-8")}}</strong></td></tr></div>
<div><tr><th><span class="label label-info">机房客服人员</span><th><td><strong>{{(x["kefu"]).encode("utf-8")}}</strong></td></tr></div>
<div><tr><th><span class="label label-danger">机房机柜位置</span><th><td><strong>{{(x["jigui"]).encode("utf-8")}}</strong></td></tr></div>
</table>
         </div>
      </div>
     </div>

{% end %}


{% end %}




