{% extends "base.html" %}

<link href="/static/css/H-ui.css" rel="stylesheet" type="text/css" />
{% block body %}

<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>时间</th>
				<th>名称</th>
				<th>购买时间</th>
				<th>保修年限</th>
				<th>联系人</th>
				<th>维修原因</th>
				<th>电话</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr class="info">
				<th>111111</th>
				<th>111111</th>
				<th>111111</th>
				<th>111111</th>
				<th>111111</th>
				<th class="text-danger">111111</th>
				<th>111111</th>
				<th>111111</th>
				
			</tr>
		</tbody>
	</table>
</div>


{% end %}




