@charset "utf-8";
/* -----------H-ui前端框架-----------------------
H-ui.admin.css v1.0
Copyright H-ui Inc.
http://www.H-ui.net
date:2014.4.13
Created & Modified by guojunhui.
----------------------------------------------*/
/*---------程序员可自行修改皮肤------------------*/
body{font-size:14px;color:#333;}/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.Hui_header{background-color:#222;border-bottom:#080808 1px solid;}/*头部颜色*/
.Hui_logo,.Hui_logo_m{color:#fff;}/*logo文字颜色*/
.Hui_logo:hover,.Hui_logo_m:hover{color:#0C0}
.Hui_nav li a{ color:#999;}/*头部导航文字颜色*/
.Hui_nav li a:hover{ color:#fff;}
.Hui_nav li.current a,.Hui_nav li.current a:hover{ color:#fff; background-color:#111}/*导航高亮状态*/
.Hui_aside{background-color:#333;border-right: 1px solid #ccc;}/*左侧菜单*/
.menu_dropdown dl dt{color:#fff;border-bottom: 1px solid #222;}/*左侧二级导航菜单*/
.menu_dropdown li a{color:#fff;border-bottom: 1px solid #222;}
.menu_dropdown li a:hover{color:#fff;background-color:#777}
.menu_dropdown li.current a,.menu_dropdown li.current a:hover{ background:#666;}
/*--------------------H-uiAdmin-------------------------*/

h4{line-height:30px}
html{overflow-y:hidden; height:100%;}
body{min-height:100%;position: relative;}
.ico{background-image:url(../../defaunt/images/btn_icon.gif); background-repeat:no-repeat}
.Hui_header{height:44px;-moz-box-shadow: 0 0 4px #333;-webkit-box-shadow: 0 0 4px #333;box-shadow: 0 0 4px #333;width:100%;z-index:99;position:relative}
/*logo*/
.Hui_logo,.Hui_logo_m{height:44px; margin-left:20px;cursor:pointer;font-size:16px; font-weight:bold; line-height:44px}
.Hui_logo{display:inline-block; padding-right:5px}
.Hui_logo:hover,.Hui_logo_m:hover{text-decoration:none;}
.Hui_logo_m{display:none;width:45px;margin-left:10px;}
.subtitle{ font-size:12px; color:#eee; padding-top:15px}
.viewhome{ line-height:44px; padding-right:15px}
.viewhome a{ color:#FFF; padding-left:20px; background:url(../images/icon_link.png) no-repeat 0 center}
/*导航*/
.Hui_nav{ padding-left:40px}
.Hui_nav li,.Hui_nav li a{display:block; height:44px; line-height:44px}
.Hui_nav li{float:left; text-align:center;width:75px;}
.Hui_nav li a{cursor:pointer;white-space:nowrap;}
.Hui_nav li a:hover{text-decoration:none}

.btn_codeShare{ position:absolute; top:10px; right:10px;}
#nav-toggle{ display:none; position:absolute; top:0px; right:10px; width:44px; height:44px; background:#333 url(../images/hamburger.gif) no-repeat center}

.frame-main{bottom: 0;left: 0;position: absolute;right: 0;top:45px;transition-duration: 0.4s;transition-property: top;}
/*左侧菜单*/
.Hui_aside{position: absolute; height:auto;top: 0;bottom: 0;left: 0; padding-top:10px;width:200px;z-index:1; overflow-y:auto;}
.menu_dropdown dl{ margin-bottom:0;}
.menu_dropdown dl dt{display:block;font-weight: bold;height:35px;line-height:35px;padding-left:15px;cursor:pointer;position:relative;}
.menu_dropdown dl dt b{ position:absolute;display: block;background: url(../images/icon_jt2.png) no-repeat 0 -6px;font-size: 0;height:5px;right:15px;line-height:0;overflow: hidden;top:50%;width: 9px; margin-top:-3px}

.Hui_icon{position:absolute;display: block;ont-size: 0;height:5px;right:15px;line-height:0;overflow: hidden;top:50%;width: 9px; margin-top:-3px}
.selected .Hui_icon{background-position:0 0}

.menu_dropdown dl dd{ display:none;}
.menu_dropdown dl.selected dt b{ background-position:0 0;}
.menu_dropdown dl.selected dd{display:block; margin-left:0px;}
.menu_dropdown ul{padding:0px;}
.menu_dropdown li{line-height:35px;overflow:hidden;zoom:1}
.menu_dropdown li a{padding-left:15px; display:block;font-weight: bold; margin:0;}
.menu_dropdown dd ul{padding:3px 8px;}
.menu_dropdown dd li{line-height:32px;}
.menu_dropdown dd li a{line-height:32px;padding-left:24px; border-bottom:none; font-weight:normal}
.menu_dropdown li a:hover{text-decoration:none;}

.dislpayArrow{position: absolute;top: 0;bottom: 0;left:200px;width:0px;z-index:10;}
.dislpayArrow a{ position:absolute; display:block; width:17px; height:61px;top:50%; margin-top:-30px; background:url(../images/icon_arrow.png) no-repeat 0 0; outline:none}
.dislpayArrow a.open{ background-position:0 -61px}
.dislpayArrow a:hover{ text-decoration:none; background-position:right 0}
.dislpayArrow a.open:hover{background-position:right -61px}
/*主要操作区*/
.Hui_article{position: absolute;top: 0;right: 0;bottom: 0;left:200px;}
/*面包屑导航*/
.Hui_breadcrumb{background:#F5F5F5 url(../images/icon_home.gif) no-repeat 15px center;padding-left:40px;border-bottom: 1px solid #E5E5E5;line-height: 39px; height:39px;}
.Hui_breadcrumb span{ padding:0 5px}
.Hui_articlebox{position: absolute;top:40px;bottom: 0;left: 0; right:0;overflow: auto;z-index: 1;}
.code_textarea_box{ width:60%;}
.txt_textarea_box{ width:38%;}
.textarea{width:97%;height:120px;}

.Hui_code_textarea{white-space: pre-wrap;word-break: break-all;word-wrap: break-word;  font-family:Fixedsys;}
.l{float:left;_display:inline}.r{float:right;_display:inline}

.page_title{border-bottom:solid 1px #ddd; padding-bottom:10px; margin-bottom:15px}

.codeView{height:auto;}
.btn_newView{ display:none;}
.codeView.hover .btn_newView{ position:absolute; display:block; right:0px; top:-20px; text-align:center}
#btn_down{position:fixed;z-index:1;right:20px;top:165px;visibility:visible;_position:absolute;_top:expression(documentElement.scrollTop)+165px}
.hero-unit {background-color: #eee;border-radius: 6px;color: inherit;font-size: 18px;font-weight: 200;line-height: 30px;margin-bottom: 30px;padding: 60px;}

/*11 页脚
	Name:			mod_footer
	Level:			Global
	Sample:			<footer><p><a target="_blank" href="/feedback.html">意见反馈</a><cite>|</cite><a target="_blank" href="/about">关于XX</a><cite>|</cite><a target="_blank" href="/jobs.html">诚聘英才</a><br/>Copyright &copy;2012 guojunhui.com 郭俊辉版权所有 京ICP备10046298-4号</p></footer>
	Explain:页脚
	Last Modify:	jackying
*/
footer{border-top:1px solid #E8E8E8;margin-top:20px;height:60px;font-family:tahoma,Arial;font-size:12px;color:#999;line-height:22px;text-align:center}
footer p{padding-top:15px}
footer a,footer a:hover{color:#999}

.jumbotron {padding: 40px 0;background:#020031 url(../images/bs-docs-masthead-pattern.png) repeat center center;color: #fff; text-align: center;text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);}
.jumbotron h1 {font-size: 80px;font-weight: bold;letter-spacing: -1px;line-height: 1; padding:10px}
.jumbotron p {font-size: 24px;font-weight: 300;line-height:1.8;margin-bottom: 30px;}
.history{ font-size:14px; margin-left:20px}

.marketing h1 {font-size: 60px;font-weight: 200;letter-spacing: -1px;line-height: 1;margin: 60px 0 10px; text-align:center}
.marketing .item{ float:left;width:300px;padding:13px; text-align:center}
.marketing .item h2{ padding:10px 0}
.marketing .item a{ text-decoration:none}
.marketing .item a:hover{ text-decoration:none}
.marketing .item2{ padding:4px; border:solid 1px #ddd; margin-right:20px; margin-top:20px;height:340px}
#xgtj{ width:1020px}
.js_subnav{ display:none; position:absolute;top:47px; right:40px; left:20px; background-color:#fff; z-index:999;}
.js_subnav a{display:inline-block;padding:0px 10px; margin-top:5px; margin-right:5px; background-color:#F5F5F5; border:solid 1px #ddd;-khtml-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.js_subnav a small{ font-size:11px; color:#9DA0A4}

.Hui-page2{ padding:20px;}
.sitelist_1{font-size:14px; line-height:24px; padding:10px 0;border-bottom:solid 1px #E1E1E1; margin-bottom:0}
.sitelist_1 dt{ width:65px;font-weight:bold; text-align:center;background-color:#222; color:#fff}
.sitelist_1 dd{ margin-left:75px}
.sitelist_1 a{ display:block;float: left;white-space: nowrap;width:140px;}

.list-icon{background:url(../images/sprite_list_icon.png) 9999px 9999px no-repeat;}

/*大屏幕*/
@media (min-width: 1200px){
  
}
/*横向平板*/
@media (min-width: 768px) and (max-width: 979px){
  
}
/*横向手机 竖向平板*/
@media (max-width: 767px) {
  html{ overflow-y:auto}
  .subtitle,.dislpayArrow,.btn_codeShare{ display:none}
  .Hui_aside{ display:none;float:none; width:100%; height:auto; margin-top:0;padding-top:0; z-index:5; bottom:auto;}
  .Hui_article{left:0;}
  .Hui_nav{margin-left:130px; margin-right:60px;}
  .Hui_nav li{width:24%;font-weight:bold;font-size:16px;}
  #nav-toggle{ display:block;}
  .wp{ width:100%;}
  .marketing h1{font-size:40px;margin:40px 0 10px;}
  #xgtj{ width:auto; padding:0 10px}
  .marketing .item{ float:none;width:auto;margin-left:auto; margin-right:auto}
  .marketing .item2{ height:auto;padding:4px;margin-left:auto;margin-right:auto}
  .hero-unit{ background-color:inherit; padding:10px;}
  .hero-unit h1{ font-size:40px;}
  .Hui_articlebox{overflow-y: hidden; position:static}
  .Hui_articlebox .pd-20{ padding:20px 10px}
  .sitelist_1{ border-bottom:none}
  .sitelist_1 dt{ width:auto; float:none;height:40px; line-height:40px; font-size:16px}
  .sitelist_1 dd{ margin-left:0; height:34px; line-height:34px; margin-top:5px}
  .sitelist_1 dd a{ width:25%}
  .Hui-page2{ padding:10px;}
  .Hui-page2 .bk_gray{ border:none}
  .Hui-page2 .pd-10{ padding:0}
}
/*竖向手机*/
@media (max-width: 480px) {
  .Hui_logo{ display:none}
  .Hui_logo_m{ display:inline-block; padding-right:5px;}
  .jumbotron {padding: 20px 0;}
  .jumbotron h1{ font-size:45px;}
  .jumbotron p{ font-size:18px; line-height:1.6}
  .jumbotron a{ float:none; display:block}
  .jumbotron .btn-primary{ margin-left:0}
  .history{margin-top:20px; font-size:18px; margin-left:0}  
  .subtitle,.dislpayArrow,.btn_codeShare{ display:none}
  .Hui_nav{margin-left:50px;margin-right:60px;}
  .marketing .item{padding:13px;}
  .hero-unit{ background-color:inherit; padding:10px;}
  .hero-unit h1{ font-size:30px;}
  .sitelist_1 dd a{ width:50%}
}